
.router-button--transparent {
  padding: 9px 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}

.router-button--transparent:hover {
  color: #246df8;
  background: #fff;
  border-color: #fff;
}

.router-button {
  padding: 9px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  margin-left: 20px;
  background: #f9f9f9;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.router-button:hover {
  /* color: #ffffff; */
  /* background: #246df8; */
  /* border-color: #246df8; */
}

.primary-button {
  padding: 9px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  margin-left: 20px;
  background: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.primary-button:hover {
  color: #ffffff;
  background: #246df8;
  border-color: #246df8;
}